#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/esp32-touch-sensor-input.h>

/ {

aliases {
	led0 = &myled0;
	touch1 = &my_touch_sensor_1;
};

leds {
	compatible = "gpio-leds";
	myled0: led_0 {
		gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
	};
};

touch {
	status="okay";
	my_touch_sensor_1: touch_sensor_1 {
		channel_num = <1>;
		channel_sens = <50>;
		zephyr,code = <INPUT_KEY_0>;
	};
};

};
